<div class="row mt-5 blur" style="display: flex; justify-content: center; align-items: center; margin-top: 10%;">
    <div class="col-md-6 mx-auto blur" style="width: auto; max-width: 400px;">
        <div class="card card-body text-center">
            <img src="/assets/logo.png" alt="icon" width="20%" />
            <h1>NodeJS Authentication</h1>
            <p>Login to an existing account or register</p>
            <a href="/auth/login" class="button btn btn-primary btn-block" style="width: 100%; margin-bottom: 10px;">Login</a>
            <a href="/auth/register" class="button btn-secondary btn-block" style="width: 100%;">Register</a>
        </div>
    </div>
</div>
